<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Take a Screenshot</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <div class="inner">

                    <a href="{{ url_for('home') }}" class="logo">
                        <span class="symbol"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="" /></span><span class="title">Anna Rozumova</span><span class="subtitle">Python Developer</span>
                    </a>
                </div>
            </header>
                <div id="main">
                    <div class="inner">
                        <h1>Take a Screenshot</h1>
                            <p>You can make a nice picture of yourself just in a moment. Hit the button, if you want to save it. Otherwise it will be deleted from our server after 4 minutes.</p>
                                <div class="col-12">
                                    <div class="actions">
                                        <button type="button" class="button primary" id="screenshot-btn">Smile and click</button>
                                    </div>
                                    <a type="button" class="button" id="download-btn" style="display:none">Download</a>
                                </div>       
                        <span class="image">
                            <img id="screenshot-img" src="" alt="Your screenshot will appear here" style="display:none" width="700" height="500" loading="lazy">
                        </span>
                    </div>
                </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#screenshot-btn').click(function () {
                    // Send POST request to take_screenshot endpoint
                    $.post('/take-screenshot', function (data) {
                        if (data.url && data.download_url) {
                            // Update image source with the URL for inline viewing
                            $('#screenshot-img').attr('src', data.url).show();

                            // Update download link with pre-signed URL
                            $('#download-btn').attr('href', data.download_url);
                            $('#download-btn').attr('download', 'screenshot.png');
                            $('#download-btn').show();
                        } else {
                            alert('Failed to take screenshot. Please try again.');
                        }
                    }).fail(function () {
                        alert('An error occurred while taking the screenshot.');
                    });
                });
            });
        </script>
    </body>
</html>


